<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">


<div *ngIf="medecin" class="row m-3 ">
    <div style="margin-top: 150px; " class="card col-md-5 text-center ">
        <div class="col ">
            <div class="mb-3 ">
                <img src="assets/images/logo.png " class="rounded-circle border border-success " width="200px " height="200px ">
            </div>
            <div>
                <h2>{{medecin.nom}} {{medecin.prenom}}</h2>
                <small class="form-text text-muted ">{{medecin.adresse}}</small>
            </div>
            <div class="col align-content-between text-center ">

                <button style=" width: 210px ;margin-top:10px; " (click)="modifierMedecin(medecin.id)" class="btn btn-outline-success mx-3 "><svg xmlns="http://www.w3.org/2000/svg " style="margin-right: 10px; " width="16 " height="16 " fill="currentColor " class="bi bi-pen
" viewBox="0 0 16 16 ">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5
0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z "/>
                  </svg>Modifier le profil</button>
                <button (click)="modifierPasswordMedecin(medecin.id)" style=" width: 210px; margin-top:10px; " class="btn btn-outline-success mx-3 "><svg xmlns="http://www.w3.org/2000/svg " style="margin-right: 10px; "width="16 " height="16 " fill="currentColor " class="bi bi-lock
" viewBox="0 0 16 16 ">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z "/>
                  </svg>Changer le mot de passe</button>
            </div>
        </div>
    </div>
    <div style="margin-top: 150px; " class="card col-md-7 ">
        <table class="table ">
            <tbody>
                <tr>
                    <th></th>
                    <td colspan="2 " scope="row "><b>Nom et prénom</b></td>
                    <td>{{medecin.nom}} {{medecin.prenom}} </td>
                </tr>

                <tr>
                    <th></th>
                    <td colspan="2 "><b>Adresse</b></td>
                    <td>{{medecin.adresse}} </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2 "><b>Téléphone</b></td>
                    <td>{{medecin.telephone}} </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2 "><b>Email</b></td>
                    <td>{{medecin.email}}</td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2 "><b>Spécialité</b></td>
                    <td>{{medecin.specialite}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div *ngIf="secretaire" class="row m-3 ">
    <div style="margin-top: 150px; " class="card col-md-5 text-center ">
        <div class="col ">
            <div class="mb-3 ">
                <img src="assets/images/logo.png " class="rounded-circle border border-success " width="200px " height="200px ">
            </div>
            <div>
                <h2>{{secretaire.nom}} {{secretaire.prenom}}</h2>
                <small class="form-text text-muted ">{{secretaire.adresse}}</small>
            </div>
            <div class="col align-content-between text-center ">
                <button (click)="modifierSecretaire(secretaire.id)" style=" width: 210px ;margin-top:10px; " class="btn btn-outline-success mx-3 "><svg xmlns="http://www.w3.org/2000/svg " style="margin-right: 10px; "width="16 " height="16 " fill="currentColor " class="bi bi-pen
" viewBox="0 0 16 16 ">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5
0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z "/>
                  </svg>Modifier le profil</button>
                <button (click)="modifierPasswordSecretaire(secretaire.id)" style=" width: 210px; margin-top:10px; " class="btn btn-outline-success mx-3 "><svg xmlns="http://www.w3.org/2000/svg " style="margin-right: 10px; " width="16 " height="16 " fill="currentColor " class="bi bi-lock
" viewBox="0 0 16 16 ">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z "/>
                  </svg>Changer le mot de passe</button>
            </div>
        </div>
    </div>
    <div style="margin-top: 150px; " class="card col-md-7 ">
        <table class="table ">
            <tbody>
                <tr>
                    <th></th>
                    <td colspan="2 " scope="row "><b>Nom et prénom</b></td>
                    <td>{{secretaire.nom}} {{secretaire.prenom}} </td>
                </tr>

                <tr>
                    <th></th>
                    <td colspan="2 "><b>Adresse</b></td>
                    <td>{{secretaire.adresse}} </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2 "><b>Téléphone</b></td>
                    <td>{{secretaire.telephone}} </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2 "><b>Email</b></td>
                    <td>{{secretaire.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div *ngIf="patient" class="row m-3 ">
    <div style="margin-top: 150px; " class="card col-md-5 text-center ">
        <div class="col ">
            <div class="mb-3 ">
                <img src="assets/images/logo.png " class="rounded-circle border border-success " width="200px " height="200px ">
            </div>
            <div>
                <h2>{{patient.nom}} {{patient.prenom}}</h2>
                <small class="form-text text-muted ">{{patient.adresse}}</small>
            </div>
            <div class="col align-content-between text-center ">
                <button (click)="modifierPatient(patient.id)" style=" width: 210px ;margin-top:10px; " class="btn btn-outline-success mx-3 "><svg xmlns="http://www.w3.org/2000/svg " style="margin-right: 10px; "width="16 " height="16 " fill="currentColor " class="bi bi-pen
" viewBox="0 0 16 16 ">
                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5
0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z "/>
                  </svg>Modifier le profil</button>
                <button (click)="modifierPasswordPatient(patient.id)" style=" width: 210px; margin-top:10px; " class="btn btn-outline-success mx-3 "><svg xmlns="http://www.w3.org/2000/svg " style="margin-right: 10px; "width="16 " height="16 " fill="currentColor " class="bi bi-lock
" viewBox="0 0 16 16 ">
                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z "/>
                  </svg>Changer le mot de passe</button>
            </div>
        </div>
    </div>
    <div style="margin-top: 150px; " class="card col-md-7 ">
        <table class="table ">
            <tbody>
                <tr>
                    <th></th>
                    <td colspan="2 " scope="row "><b>Nom et prénom</b></td>
                    <td>{{patient.nom}} {{patient.prenom}} </td>
                </tr>

                <tr>
                    <th></th>
                    <td colspan="2 "><b>Adresse</b></td>
                    <td>{{patient.adresse}} </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2 "><b>Téléphone</b></td>
                    <td>{{patient.telephone}} </td>
                </tr>
                <tr>
                    <th></th>
                    <td colspan="2 "><b>Email</b></td>
                    <td>{{patient.email}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>