<nav class="navbar navbar-expand-md navbar-light bg-success border fixed-top">
    <ul class="navbar-nav">
        <li>
            <img src="assets/images/logo.png" style="margin-left: 80px;" width="100px " height="50px ">
        </li>
        <li style="margin-left: 180px;" class="nav-item"><a style="font-size :20px;" class="nav-link text-light px-5 " routerLink="./">Home</a></li>
        <li style="margin-left: 40px;" class="nav-item"><a style="font-size :20px;" class="nav-link text-light px-5 " routerLink="./profil">Profil</a></li>
        <li style="margin-left: 40px;" class="nav-item"><a style="font-size :20px;" class="nav-link text-light  px-5" routerLink="./envoyerMail">Envoyer un mail au patient</a></li>

        <li style="margin-left: 40px;" class="nav-item dropdown"><a style="font-size :20px;" class="nav-link text-light px-4 dropdown-toggle" data-bs-toggle="dropdown" routerLink="#">Gérer rendez-vous</a>
            <div class=" dropdown-menu " role="menu ">
                <div *ngFor="let rendezvous of rendezvous ">
                    <!--au principe ki nenzel ala esem medecin yhezni el page profile mte3ooo !!!!-->
                    <button style="font-size: 20 px ; " class="dropdown-item ">{{rendezvous.email}} </button>
                </div>
                <hr>
                <a style="font-size: 20 px ; " class="dropdown-item " routerLink="./listepatient">Voir plus d'informations</a>
            </div>
        </li>
        <!-- <li style="margin-top: 8px;" class="nav-item">
            <form class="d-flex">
                <input style="margin-left: 50px;" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button style="font-size :20px;margin-top: -5px;" class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </li> -->
        <li style="margin-left: 40px;" class="nav-item "><a style="font-size :20px;" class="nav-link text-light  pm-5 pe-0 " routerLink="" (click)="logOut()">Se déconnecter</a>
        </li>
        <li><svg (click)="logOut()" routerLink="" style="margin-top:19px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
  </svg>
        </li>
    </ul>
</nav>