<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<div *ngIf="therapie" class="row m-3 ">
    <div style="margin-top: 150px; " class="card col-md-5 text-center ">
        <div class="col ">
            <div class="mb-3 ">
                <img src="assets/images/{{therapie.image}}" class="rounded-circle border border-success " width="200px " height="200px ">
            </div>
            <div>
                <h2>{{therapie.nom}} </h2>
                <small class="form-text text-muted ">La santé c'est comme la richesse, il ne suffit pas de l'avoir, il faut savoir la conserver <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
                  </svg></small>
            </div>

        </div>
    </div>
    <div style="margin-top: 150px; " class="card col-md-7 ">
        <table class="table ">
            <tbody>
                <tr>
                    <th></th>
                    <td colspan="2 " scope="row "><b>Nom De la thérapie</b></td>
                    <td>{{therapie.nom}} </td>
                </tr>

                <tr>
                    <th></th>
                    <td colspan="2 "><b>Description</b></td>
                    <td>{{therapie.description}} </td>
                </tr>

                <tr>
                    <th></th>
                    <td colspan="2 "><b>Mettre à jour {{therapie.nom}} ?</b></td>
                    <td>
                        <div>
                            <button (click)="updateTherapie(therapie.id)" style=" width: 210px ;" class="btn btn-outline-success border  "><svg xmlns="http://www.w3.org/2000/svg " style="margin-right: 10px; "width="16 " height="16 " fill="currentColor " class="bi bi-pen
            " viewBox="0 0 16 16 ">
                                <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5
            0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z "/>
                              </svg>Mettre à jour thérapie </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>